.buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.buttons button {
  padding: 8px 16px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #646464;
  cursor: pointer;
  transition: 0.2s;
}

.buttons button:hover {
  background-color: #9B9B9B;
  border: 1px solid #BBBBBB;
}

.buttons button:active {
  transform: scale(0.97);
}